.not-found-container {
    text-align: center;
    padding: 50px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    margin: 0 auto;
  }
  
  .not-found-container h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .not-found-container p {
    font-size: 18px;
  }