<div class="image1">

    <div class="login-form-div">
      <form novalidate [formGroup]="resetForm">
        <div id="login-container" class="mat-elevation-z8">
  
          <h2 class="primary">Reset Password</h2>
  
          <mat-form-field class="mb-3" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-error *ngIf="resetForm.controls['password'].hasError('required')">
              Please enter password
            </mat-error>
            <mat-error *ngIf="resetForm.controls['password'].hasError('minlength')">
              Please enter password of minimum 8 characters
            </mat-error>
          </mat-form-field>
          
          <mat-form-field class="mb-4" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Password" [type]="hide ? 'newpassword' : 'text'" formControlName="newpassword" required>
            <mat-error *ngIf="resetForm.controls['newpassword'].hasError('required')">
              Please enter password
            </mat-error>
            <mat-error *ngIf="resetForm.controls['newpassword'].hasError('minlength')">
              Please enter password of minimum 8 characters
            </mat-error>
            <!-- {{resetForm.hasError('passwordMismatch')}} -->
            <mat-error *ngIf="resetForm.hasError('passwordMismatch')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
          
          <div class="text-center mt-2">
            <button mat-raised-button type="button" color="primary" (click)="onSubmit()">Reset</button>
    
          </div>
          <!-- <div class="text-center mt-3">
            <p>Already have an account ? <a href=""  [routerLink]="'/'" >Login here</a></p>
          </div> -->
  
         
        </div>
      </form>
    </div>
  
  </div>