<mat-nav-list>
  <div class="logo py-4 text-white">
    <!-- <img src="./assets/logo.svg" alt="Company Logo" /> -->
    My Task
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2 abcd"> <span style="margin-left: 10px;">APPLICATIONS</span></h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/products">
    <span class="text-white"><mat-icon>home</mat-icon> Products</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/wallet">
    <span  class="text-white"><mat-icon>dashboard</mat-icon> Wallet</span>
  </a>
  
</mat-nav-list>